<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
     <!--Added a todo ctrl here to the body to connect to my app.js file -->
  <body ng-app="starter" ng-controller="ToDoCtrl">

      
      <!--made list here -->
    <ion-pane>
      <ion-header-bar class="bar-dark">
        <h1 class="title">2Do</h1>
      </ion-header-bar>
      <ion-content>
          <ion-list>
              
          <!--using ng repeat to go threw list or populate it  --->    
        <ion-item ng-repeat="task in tasks"
                  class="item-icon-right"
                  ng-class="{complete: task.completed}"
                  ng-click="task.completed = !task.completed">
            
   <!--this i got in ionic nice little slide left  feature than added button to delete it -->         
            <i class="icon ion-ios-arrow-left"></i>
            <ion-option-button class="button-assertive"
                               ng-click="tasks.splice($inbox, 1)">BIN IT</ion-option-button>
            <!--change of mind or edit button is inseted here -->
              <ion-option-button class="button-balanced"
                               ng-click="edit(task)">Fix</ion-option-button>
                        
            {{task.title}}</ion-item>

          </ion-list>
         <!--made button in ionic creator to get shape -->
          <button id="page-button1" style="font-weight:lighter;font-style:italic;color:#5CA52D;font-size:46px;border-radius:300px 300px 300px 300px;"
        class="button button-dark button-large button-block icon ion-android-add-circle"ng-click="newTask()">Add Item!</button>
          
          
           
      </ion-content>
    </ion-pane>
       <ion-footer-bar class="bar-dark">
        <h1 class="title"></h1>
           <button class="button icon ion-navicon" ng-click="Info()"></button>
  
      </ion-footer-bar>
  </body>
</html>
